*{
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}


.carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* Asegúrate de que el contenedor del carrusel tenga el ancho completo de la columna */
}

.carousel-item {
    display: flex;
    justify-content: flex-start;
    align-items:flex-start;
    height: 100%;
    
}
.carousel-item img {
    width: 100%;
    height: 300px; /* Ajusta esta altura según tus necesidades */
    object-fit: cover; /* Asegura que la imagen cubra el área del contenedor sin distorsionar */
    display: block; /* Para evitar espacio extra debajo de las imágenes */
    margin: 0 auto; /* Para centrar la imagen si es necesario */
    border-radius: 15px; /* Ajusta este valor para redondear los bordes según tu preferencia */
}

.carousel-inner {
    text-align: center; /* Asegura que el contenido esté centrado horizontalmente */
}
header {
    background: black;
    color: white;
    padding: 1em 0;
    text-align: center;
    
}


h1{
text-align: center;
background-color: green;
padding: 1em 0;

}

nav ul {
    list-style-type: none;
    padding: 10px;
}

nav ul li {
    display: inline;
    margin: 0 1em;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: column;
    background-color: #000; /* Fondo negro */
    color: #fff; /* Texto blanco para contraste */
    padding: 20px; /* Espaciado interno */
}

article {
    background: #1a1a1a; /* Fondo oscuro para el artículo */
    border-radius: 10px; /* Bordes redondeados */
    padding: 20px;
    margin-bottom: 20px;
}

h2, h3 {
    color: #ffcc00; /* Color amarillo para los títulos */
    margin-bottom: 10px;
}

blockquote {
    background: #333; /* Fondo gris oscuro para el bloque */
    border-left: 4px solid #ffcc00; /* Borde amarillo a la izquierda, reducido */
    padding: 8px 16px; /* Ajuste en el relleno para hacerlo más compacto */
    margin: 15px 0; /* Reducción en el margen superior e inferior */
    border-radius: 4px; /* Reducción del radio del borde */
    font-size: 14px; /* Ajuste del tamaño de fuente para un diseño más pequeño */
}


section {
    margin-bottom: 20px;
}


.rounded-image {
    border-radius: 8px;
    max-width: 100%;
    height: auto;
}

p {
    line-height: 1.6;
}


/* Estilos generales para el contenedor aside */
aside {
    display: flex; /* Usa flexbox para alinear elementos */
    flex-direction: column; /* Organiza los elementos en columna */
    justify-content: center; /* Centra el contenido verticalmente */
    align-items: center; /* Centra el contenido horizontalmente */
    text-align: center; /* Alinea el texto al centro */
    padding: 20px; /* Ajusta el padding según sea necesario */
}
aside img.rounded-image {
    margin-top: 20px; /* Espacio encima de la imagen */
    margin-bottom: 20px; /* Espacio debajo de la imagen para separarla del borde inferior */
    margin-left: -10px; /* Mueve la imagen un poco hacia la izquierda */
    max-width: 80%; /* Ajusta el tamaño máximo de la imagen */
    height: auto; /* Mantiene la relación de aspecto */
    object-fit: cover; /* Asegura que la imagen se ajuste al área sin deformarse */
}



/* Media Query para pantallas mayores a 800px */
@media (min-width: 800px) {
    main {
        display: flex;
    }

    article {
        flex: 1;
    }

    aside {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start; /* Alinea el contenido al principio */
    }

    aside img.rounded-image {
        max-height: none; /* Permite que la imagen tome la altura completa */
        height: 100%; /* Establece la altura de la imagen al 100% del contenedor */
    }
}


.content-sections {
    background-color: #f9f9f9; /* Color de fondo claro */
    color: #333; /* Color de texto oscuro para buen contraste */
    padding: 20px; /* Espacio interno para separar el contenido del borde */
    border-radius: 8px; /* Bordes redondeados para un acabado más suave */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra sutil para profundidad */
    margin-top: 20px; /* Espacio arriba del contenedor */
    margin-bottom: 20px; /* Espacio abajo del contenedor */
}

.content-sections h3 {
    color: #555; /* Color de los encabezados ligeramente más oscuro */
    margin-bottom: 10px; /* Espacio debajo de los encabezados */
}

.content-sections p {
    margin-bottom: 15px; /* Espacio debajo de los párrafos */
}

/* Media Query para pantallas de 800 px o más */
@media (min-width: 800px) {
    main {
        padding: 10px;
        flex-direction: row; /* Cambia la dirección a fila */
    }

    article {
        flex: 3; /* Ocupa más espacio que el aside */
        margin-right: 20px; /* Espacio entre el article y el aside */
    }

    aside {
        flex: 1; /* Ocupa menos espacio en comparación con el article */
    }

    /* Asegura que las secciones también se muestren correctamente */
    section {
        flex: 1 1 100%; /* Hace que cada sección ocupe el ancho completo en vista móvil */
    }
}




footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 1em 0;

}
    
.rounded-image {
    border-radius: 15px;
 
    width: auto;
    height: 726px;
} 



#Cuidado-Corporal {
 display: none;



}
article section  {
    color: wheat;
}

.fondo-seccion {
    background-image: url('/assets/IMG_2268.jpg'); 
    background-size: cover; /* Asegura que la imagen cubra todo el fondo */
    background-position: center; /* Centra la imagen en el fondo */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    padding: 20px; /* Añade un poco de relleno alrededor del contenido */
    border-radius: 15px;
   
}



.cremas-lista {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
   
    
}

.cremas-lista li {
    background-color: #add8e6; /* Fondo de color celeste */
    padding: 10px;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 15px;
    
}
.cremas-lista img {
    border-radius: 15px;
    max-width: 100px; /* Ajusta el tamaño de las imágenes según sea necesario */
}
.cremas-lista p {
    background-color: black; /* Fondo negro */
    color: white; /* Letras blancas */
    padding: 5px;
    margin-top: 10px; /* Espacio entre la imagen y el texto */
    border-radius: 15px;
}

.grid-container {
    display: grid;
    grid-template-columns: 95% 5%; /* 80% para el h1 y 20% para el icono */
    align-items: center;
    text-align: center;
    border-radius: 40px;
}

.grid-item:first-child h1 {
    margin: 0; /* Elimina el margen predeterminado del h1 */
    background-color: green;
}

.grid-item{
    background-color: green;
    width: 100%;
    height: 100%;
    
    
}
.instagram-icon {
    text-align: center;
    
    
}

.instagram-icon i {
    color: black;
    font-size: 2em; /* Ajusta el tamaño del icono según sea necesario */

}

@media screen and (max-width: 800px) {
    .grid-container {
        grid-template-columns: 1fr; /* Elementos apilados uno debajo del otro */
      
    }

    .grid-item {
        justify-items: center;
        padding-right: 0; /* Ajusta el padding según sea necesario */
       
        
    }

    .grid-item:first-child {
        width: 100%; /* Asegura que el h1 ocupe el ancho completo en pantallas pequeñas */
    }

    .grid-item:last-child {
        width: 100%; /* Asegura que el icono ocupe el ancho completo en pantallas pequeñas */
    }
}